/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require admin/bootstrap-theme
 *= require admin/bootstrap-theme.min
 *= require admin/styles
 */
 @import "bootstrap-sprockets";
@import "bootstrap";
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
a.navbar-brand.admin-home, a.navbar-brand.admin-users, a.navbar-brand.admin-pages,a.navbar-brand.admin-inquires{
	font-size: 12px;
	color: white;
	font-weight:bold;
}
a.navbar-brand.title{
	width:250px;
}
.navbar-inverse .navbar-brand:hover{
	color: blue;
}
.user-add-btn{
	float: right;
	width: auto;
	marign-top: 8px;
}
.pagination-algin{
	float: right;
}